<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title>ユーザー管理</title>
	<meta charset="UTF-8">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body class="container mt-4">
	<div class="d-flex align-items-center mb-4">
		<h1 class="display-5" th:text="${title}">
			ユーザー管理
		</h1>
		<a class="btn btn-success ms-auto"
		   th:href="@{/foods}">
			食品管理へ
		</a>
	</div>
	<p class="text-danger" th:text="${msg}"></p>
	<div th:if="${!isSearch}" class="mb-4">
		<form method="get" action="/users/search">
			<div class="input-group w-50">
				<input
					type="text"
					name="keyword"
					class="form-control"
					placeholder="ユーザーIDを入力">
				<button
					class="btn btn-primary"
					type="submit">
					検索
				</button>
			</div>

		</form>
	</div>
	<div th:if="${isSearch}" class="mb-4">
		<a class="btn btn-secondary"
		   th:href="@{/users}">
			一覧へ戻る
		</a>
	</div>
	<h4 class="mb-3">
		ユーザー一覧
	</h4>

	<table class="table table-bordered table-hover align-middle">

		<thead class="table-light">

			<tr>

				<th style="width:80%;">
					ユーザーID
				</th>

				<th style="width:20%; text-align:center;">
					操作
				</th>

			</tr>

		</thead>

		<tbody>

			<tr th:each="user : ${data}" th:if="${user.id != 1}">

				<td th:text="${user.userId}">
				</td>

				<td class="text-center">

					<a class="btn btn-danger btn-sm"
					   th:href="@{/users/delete/{id}(id=${user.id})}">
						削除
					</a>

				</td>

			</tr>

		</tbody>

	</table>

</body>

</html>