<!DOCTYPE HTML>
<html>
<head>
<title>input page</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
	rel="stylesheet">
</head>

<body class="container">
	<style>
.err {
	color: red
}
</style>
	<h1 class="display-4 mb-4" th:text="${title}"></h1>
	<p th:text="${msg}"></p>

	<form method="post" action="/foods/search">

		<div class="input-group">
			<span class="input-group-text">キーワード：</span> <input type="text"
				class="form-control me-1" name="find_str" th:value="${keywordValue}" /> <span
				class="input-group-text">期限：</span> <input type="datetime-local"
				class="form-control me-1" name="find_datetime"
				th:value="${datetimeValue}" /> <span
				class="input-group-btn d-flex gap-1"> <input type="submit"
				class="btn btn-primary px-4" value="検索" /> <a th:href="@{/foods}"
				class="btn btn-outline-danger px-3 d-flex align-items-center">
					検索解除 </a>
			</span>
		</div>
	</form>

	<p></p>

	<div class="d-flex align-items-center gap-3 mb-3">
		<h2 class="mb-0">食品一覧</h2>

		<a th:href="@{/foods/add}" class="btn btn-success"> <i
			class="bi bi-plus-lg"></i> 新規追加
		</a>
	</div>

	<div th:if="${safeList == null or expiredList == null}">
		<!--<h3 class="mt-4">📋　検索結果</h3> -->
		<table class="table">
			<thead>
				<tr>
					<th>ID</th>

					<th th:each="jpName : ${fieldJapaneseNames}" th:text="${jpName}"></th>

					<th class="border-start" style="border-left-width: 3px;">操作</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="item : ${data}">

					<td th:text="${item.id}"></td>
					<td th:each="fieldName : ${fieldNames}"
						th:text="${item[fieldName]}"></td>
					<td class="border-start" style="border-left-width: 3px;"><a
						class="btn btn-success btn-sm"
						th:href="@{/foods/edit/{id}(id=${item.id})}"> 編集 </a> <a
						class="btn btn-danger btn-sm"
						th:href="@{/foods/delete/{id}(id=${item.id})}"> 削除 </a>
					<td>
				</tr>
			</tbody>
		</table>
	</div>

	<div th:unless="${safeList == null or expiredList == null}">

		<h3 class="mt-4 text-success">🟢 期限内の食品（期限が近い順）</h3>
		<table class="table table-striped">
			<thead>
				<tr>
					<th>ID</th>

					<th th:each="jpName : ${fieldJapaneseNames}" th:text="${jpName}"></th>

					<th class="border-start" style="border-left-width: 3px;">操作</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="item : ${safeList}">
					<td th:text="${item.id}"></td>
					<td th:each="fieldName : ${fieldNames}"
						th:text="${item[fieldName]}"></td>
					<td class="border-start" style="border-left-width: 3px;"><a
						class="btn btn-success btn-sm"
						th:href="@{/foods/edit/{id}(id=${item.id})}"> 編集 </a> <a
						class="btn btn-danger btn-sm"
						th:href="@{/foods/delete/{id}(id=${item.id})}"> 削除 </a>
					<td>
				</tr>
			</tbody>
		</table>

		<h3 class="mt-5 text-danger">🔴 期限切れの食品</h3>
		<table class="table table-striped">
			<thead>
				<tr>
					<th>ID</th>
					<th th:each="jpName : ${fieldJapaneseNames}" th:text="${jpName}"></th>
					<th></th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="item : ${expiredList}">
					<td th:text="${item.id}"></td>
					<td th:each="fieldName : ${fieldNames}"
						th:text="${item[fieldName]}"></td>
					<td class="border-start" style="border-left-width: 3px;"><a
						class="btn btn-success btn-sm"
						th:href="@{/foods/edit/{id}(id=${item.id})}"> 編集 </a> <a
						class="btn btn-danger btn-sm"
						th:href="@{/foods/delete/{id}(id=${item.id})}"> 削除 </a>
					<td>
				</tr>
			</tbody>
		</table>

	</div>



</body>


</html>